<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">

    <title>{% block title %}Login{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {% include 'security/_css.html.twig' %}

{% block body %}
    <body>
        <div class="container-fluid h-100">
            <div class="wrapper d-flex align-items-center">
                <div id="formContent" class="p-4">
                    <div class="fadeIn first py-4">
                        <img src="/build/images/logo-qr.png" id="icon" alt="QR Icon" />
                    </div>

                    <!-- Login Form -->
                    <form method="post" class="mt-3">

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <label for="inputUsername">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control fadeIn second" autocomplete="username" required autofocus>
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control fadeIn third" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button class="btn btn-sm btn-success mt-3" type="submit">
                            <i class="bi bi-box-arrow-in-right"></i> Accedi
                        </button>
                    </form>
                </div>
            </div>
        </div>

    {{ encore_entry_script_tags('app') }}
    </body>
{% endblock %}
</html>

