{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
Ciao Quantik! <br/> <br/>

Sulla sx, banalmente i due menu prodotti/clienti, caricati con dati di prova. <br/>
La "ciccia" è dentro ai prodotti:
    <ul>
        <li>Vari dati (modello, sku, codice a barre, ecc..)</li>
        <li>Possibilità di caricare un immagine prodotto</li>
        <li>Potete aggiungere gli allegati (non ho messo un controllo sul tipo di file...state solo attenti a file la cui dimensione supera la vostra dimensione max allegati in PHP)</li>
        <li>Potete aggiungere una descrizione con un editor WYSIWYG</li>
    </ul>
Se volete vedere il prodotto/la sua scheda, potete copiare l'id e andare all'indirizzo:
https://app.manuali-qr.it/product/{id} <br/><br/>
OPPURE<br/><br/>
usare direttamente il QRCODE: al momento li ho autogenerati per i prodotti di esempio<br/><br/>

Se create il prodotto, il QR viene generato in automatico e salvato su disco come immagine svg...le politiche poi di generazione/aggiornamento/eccetera di questi codici le decidiamo poi.<br/><br/>
<u>E' tutto grezzo, brutto, puzza, ed è fatto alla svelta, ma almeno avete qualcosa da guardare...ovviamente tutto quello che vedete si può modificare/togliere...ma almeno avete qualcosa a mano con cui ragionare</u>
<br/><br/>
Altre cose:<br/><br/>
<ul>
    <li>non c'è nessuna validazione</li>
    <li>la rotta /product/{id} che è quella di visualizzazione scheda prodotto, al momento è pubblica...si potrà risolvere questa roba in vari modi</li>
</ul>
<br/>
Ciauz!
{% endblock %}
