{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col-12">
            <h3>Prodotto - {{ product.name }}</h3>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-6 col-sm-12">
            <h6>Dettagli</h6>
            <table class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th>Modello</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Codice</th>
                    <td>{{ product.code }}</td>
                </tr>
                <tr>
                    <th>Codice a barre</th>
                    <td>{{ product.barcode }}</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <th>Stato</th>
                    <td>{{ product.enabled }}</td>
                </tr>
                <tr>
                    <th>Creato il</th>
                    <td>{{ product.createdAt|date('d-m-Y H:i') }}</td>
                </tr>
                <tr>
                    <th>Ultima modifica</th>
                    <td>{{ product.updatedAt|date('d-m-Y H:i') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 col-sm-12">
            <h6>QR</h6>
            <img class="img-fluid" src="{{ vich_uploader_asset(product, 'qrFile') }}" alt="{{ product.name }}" width="196" />
        </div>
        <div class="col-lg-3 col-sm-12">
            <h6>Immagine</h6>
            {% if product.image %}
                <img class="img-fluid" style="max-width:196px" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" />
            {% else %}
                <img class="img-fluid" src="https://placehold.co/196" alt="{{ product.name }}" />
            {% endif %}
        </div>
    </div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Allegati</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-12 mt-2">
                    {% if product.attachments is not empty %}
                        <table class="table table-sm table-bordered">
                            <thead>
                            <tr>
                                <th>Nome File</th>
                                <th>Azioni</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attachment in product.attachments %}
                                <tr>
                                    <td>{{ attachment.attachmentName }}</td>
                                    <td><a href="{{ vich_uploader_asset(attachment, 'file') }}"><i class="bi bi-download"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="pt-2">Nessun allegato presente al momento.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
