@import "~bootstrap/scss/bootstrap";
@import '_colors.scss';
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
}
