<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/build/images/logo-qr.png" height="35" alt="logo"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('_welcome') }}">
                        <i class="bi bi-house-door pr-2" aria-hidden="true"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_product_index') }}">
                        <i class="bi-box-seam pr-2" aria-hidden="true"></i> Prodotti
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin') }}">
                            <i class="bi bi-gear pr-2" aria-hidden="true"></i> Admin
                        </a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control form-control-sm me-2" type="search" placeholder="Ricerca...todo?" aria-label="Ricerca">
                <button class="btn btn-sm btn-outline-success" type="submit">Ricerca</button>
            </form>
        </div>
    </div>
</nav>
